html,
body
{
	height: 100%;
    margin: 0px;
    padding: 0px
}

#map-canvas
{
	height: 80%;
	width: 96%;
	margin-left: 2%;
}

img
{
	height: 30px;
	width: 30px;
}

.customers
{
	margin: 0 auto;
	text-align: center
}

.button,
.button-image-not-activiate
{
	display:inline-block;
	position: relative;
}

